@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model W21_Assignment.Pages_User.IndexModel

@{
    ViewData["Title"] = "Profile Settings";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label asp-for="UserInfo.Name" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.Email" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.StreetNumber" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.StreetName" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.PostalCode" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.City" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.Province" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="UserInfo.Phone" class="control-label"></label>
                </th>
                <th></th>
            </tr>
        </thead>
        @* <tbody>
            @foreach (var item in Model.User)
            {
            <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
            <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
            </tr>
            }
            </tbody> *@
    </table>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome! </h1>
        <p> You must <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a
            class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> first
            to view site!</p>
    </div>
}
